
h1 {
     width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    background: red;
    text-align: center;
    font-size: 35px;
    }

h2 {   
    text-align: center;
}

#loginForm{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 4px solid blue;
    box-sizing: border-box;
    }

#password{
    margin: 5px -20px 5px 10px;
    
}
#userName{
    margin: 5px -10px 5px 10px ;
}

#submitButton{
    margin: 10px -100px 250Spx 120px;
    padding: 3px;
    width: auto;
    background-color: skyblue;
}



#loginForm{
    text-align: center;
    width: 100%;
    padding: 12px 20px;
    margin: 150px 0;
    display: inline-block;
    border: 1px solid #ccc;
    
}
body{
    background: #E1DADB;
        font-family: 'Merriweather', serif;
    
}

#createNewAccount{
    position: fixed;
    top: 50%;
    left: 44%;
    padding: 3px;
    background-color: skyblue;
    width: 180px;
    background-color: skyblue;
    }

#goback{
    position: fixed;
    top: 70%;
    left: 44%;
    padding: 3px;
    background-color: skyblue;
    width: 200px;
    background-color: skyblue;
    
    
}
/**************************************/
#regInfo { 
    margin: 10px;
    text-align: center;
}
#firstName{
    margin: 5px -85px 5px 10px;
}

#lastName{
    margin: 5px -90px 5px 10px;
}

#emailAddress{
  margin: 5px -60px 5px 10px;
}

#phoneNumber{
    margin: -20px -67px 0px 0px;
}

#address{
    margin: 5px -113px 5px 10px;
}

#address1{
    margin: 5px -103px 5px 10px;
}

#address2{
    margin: 5px -103px 5px 10px;
}

#zipcode{
    margin: 5px -118px 5px 10px;
}

#city{
    margin: 5px -150px 5px 10px;}

#state{
margin: 5px -145px 5px 10px;}

#customerCreationDate{
margin: 5px 5px 5px 10px;}

#operatorName{
margin: 5px -67px 10px 10px;
}
#retailerName{
    margin: 5px -75px 10px 10px
}

/****************Select Set Box Type***********************/
#standard{
    
  width     : 2em;
  margin    : 0;
  padding   : 0;
  font-size : 1em;
  opacity   : 0;
}

.container{
    text-align: center;
}


#buttons{
    text-align: center;
    }

#dimensions{
    margin: 5px -20px 5px 10px;
    }
#length{
    margin: 5px -60px 5px 10px;
    }
#breadth{
    margin: 5px -55px 5px 10px;
    }
#width{
    margin: 5px -70px 5px 10px;
    }
#price{
    margin: 5px -77px 5px 10px;
    }
#installationCharges{
    margin: 5px 45px 5px 10px;
    }
#upgradation{
    margin: 5px 43px 5px 10px;
    }
#discount{
    margin: 5px -22px 5px 10px;
    }
#refundableDepositAmount{
    margin: 5px 105px 5px 10px;
    }
#STBInventoryDetails{
    margin: 5px 50px 5px 10px;
    }
#STBSerialNumber{
    margin: 5px 90px 5px 10px;
    }
#STBMACId{
    margin: 5px 40px 5px 10px;
    }
#remoteControlAssetId{
    margin: 5px 65px 5px 10px;
    }
#dishAssetId{
    margin: 5px -25px 5px 10px;
    }
#STBStatus{
    margin: 5px 15px 5px 10px;
    }


#fieldsSection {
    text-align: center;
}

/* javascript using */
input.invalid, textarea.invalid {
                border: 2px solid red;
            }

            input.valid, textarea.valid {
                border: 2px solid green;
            } 

.error{
            display: none;
            margin-left: 10px;
        }		

        .error_show{
            color: red;
            margin-left: 10px;
        } 